:root{
	--smallpad:0.5rem;
  --mediumpad:1rem;
    
  --hdersize:1.5rem;
  --mainfont: Lucida Console;

  --textcolor:white;
	--backgroundcolor: hsl(240, 0%, 20%);
	--maincolor:hsl(248, 53%, 58%);
  }
  
  body{
    font-family: var(--mainfont);
    box-sizing:border-box;
    color:var(--textcolor);
    background:var(--backgroundcolor);
  }
  .title{
    padding:var(--mediumpad);
    text-align:center;
    background:var(--maincolor);
  }
  .q{
    font-size:var(--hdersize);
  }
  .paragraph{
    text-align:center;
    padding:var(--smallpad);
  }
  .product{
    margin-left:var(--mediumpad);
    margin-right:var(--mediumpad);
    
  }
  #example{
    height: 150px;
    width: 150px;
  }
  .team{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    justify-content:space-between;
  }
  .person{
    text-align:center;
    padding:var(--smallpad);
    border:1px solid var(--maincolor);
  }
  img{
    padding:var(--smallpad);
    border-radius: 10px;
  }