:root{
	--smallpad:0.5rem;
  --mediumpad:1rem;
  --midpad: 1.5rem;
  --largepad:2rem;
  --xlpad:3rem;
    
  --shortTransi:0.6;
  --hdersize:1.5rem;
  --mainfont: Lucida Console;

  --textcolor:white;
	--backgroundcolor: hsl(240, 0%, 20%);
	--maincolor:hsl(248, 53%, 58%);
  --darker_maincolor:hsl(248, 53%, 30%);
  }
  
  body{
    font-family: var(--mainfont);
    box-sizing:border-box;
    color:var(--textcolor);
    background:var(--backgroundcolor);
  }
  .center{
    margin: auto;
     width: 60%; 
    padding: 10px;
  }
  .title{
    padding:var(--mediumpad);
    border-radius: var(--largepad);
    text-align:center;
    background:var(--maincolor);
    background-size:auto;
  }
  .q{
    font-size:var(--largepad);
  }
  .paragraph{
    line-height: 1.5;
    font-size: var(--largepad);
    text-align:center;
    padding:var(--mediumpad);
  }
  .product{
    margin-left:var(--mediumpad);
    margin-right:var(--mediumpad);

  }
  .button{
    font-size: var(--midpad);
    transition-duration: var(--shortTransi);
    font-family: var(--mainfont);
    border-radius: var(--mediumpad);
    background-color: var(--maincolor);
    color: white;
    padding: var(--smallpad);
    cursor: pointer;
    text-decoration: none;
  }
  .button:hover{
    background-color: var(--darker_maincolor);
    color:white;
  }
  section{
    padding: var(--smallpad);
    display:grid;
    grid-template-columns:repeat(2,1fr);
    justify-content:space-between;
  }
  aside{
    text-align:left;
    padding:var(--smallpad);
    border:1px solid var(--maincolor);
  }
  .button:active{
    transform: translateY(4px);
  }
  .link{
    color:white;
  }
  .link:hover{
    background-color: var(--darker_maincolor);
    color:white;
  }
  #example{
    height: 150px;
    width: 150px;
  }
  #paypal{
    height: 75%;
    width: 50%;
  }
  
  .team{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    justify-content:space-between;
  }
  .person{
    font-size: var(--midpad);
    text-align:center;
    padding:var(--smallpad);
    
  }
  img{
    padding:var(--smallpad);
    border-radius: 10px;
  }
  .frame{

    border:var(--smallpad) solid  var(--maincolor);

  }